# Dependencies
node_modules/
npm-debug.log*

# Build output
dist/
dist-ssr/
*.local
package-lock.json
.vite

# Editor directories and files
.vscode/*
.DS_Store

# Environment variables

# OS
.DS_Store
Thumbs.db
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
config.bat
